.hero-image{
    object-fit: cover;
    background-attachment: fixed;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
}

.album-card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.genres{
    padding: 20px;
}

.genres ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.genres a{
    margin: 0 20px;
}

.full-screen{
    height: 100vh;
}

