{% extends 'audio/base.html' %}
{% load static %}
{% block title %}
Главная страница
{% endblock %}

{% block content %}
<div class="container-fluid p-4 hero-image" style="background-image: url('{% static 'logo.jpg' %}')">
    <div class="container">
        <div class="row">
            {% if user.is_authenticated %}
            <div class="col-md-2 text-center">
                {% if user.profile.avatar.url != null %}
                <img src="{{user.profile.avatar.url}}" style="width: 150px; height: 150px; object-fit:cover; border-radius: 100%" alt="">
                {% endif %}
            </div>
            {% endif %}
            <div class="col-md-10">
                <h1 class="title text-white">TOPMUSIC</h1>
                <p class="subtitle text-white">Лучшая музыка на свете</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h2 class="text-center">Популярные альбомы</h2>
    <div class="owl-carousel">
        {% for album in albums %}
        <div class="album-card">
            <a href="{{album.get_absolute_url}}">
                <img src="{{album.image.url}}" alt="">
                <h4 class="text-center">{{album.title}}</h4>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container">
    <video src="static/video.mp4" controls class="w-100"></video>
</div>
{% endblock %}