{% extends 'audio/base.html' %}

{% block title %}
{{genre.title}}
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">{{genre.title}}</h1>
    </div>
  </div>
<section class="container">
    <div class="row">
        <div class="col-md-9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{genre.title}}</li>
                </ol>
            </nav>
            <div class="row">
                {% for album in genre.albums.all %}
                <div class="col-md-6">
                    {% if album.image.url != null %}
                    <img src="{{album.image.url}}" class="w-100" alt="">
                    <a href="{% url 'albums' %}"><h4 class="m-2">{{album.title}}</h4></a>
                    <hr>
                    <p>{{album.content|safe|slice:"0: 250"}}</p>
                    <p class="text-right">{{album.date}}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
        {% if album.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{album.previous_page_number}}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% endif %}
        {% if album.paginator.page_range > 1 %}
          {% for page in album.paginator.page_range %}
          <li class="page-item"><a {% if page == page.number or page == 1 %} style="background: black; color: yellow;" {% endif %}  class="page-link" href="?page={{page}}">{{page}}</a></li>
          {% endfor %}
        {% endif %}
        {% if album.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{album.next_page_number}}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% endif %}
        </ul>
      </nav>
</section>
{% endblock %}