{% extends 'audio/base.html' %}

{% block title %}
Страница жанров
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Жанры</h1>
    </div>
  </div>
<section class="container">
    <div class="row">
        <div class="col-md-9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Жанры</li>
                </ol>
            </nav>
            {% for genre in genres %}
            <div class="row">
                <div class="col-md-6">
                    <h4 class="m-2">{{genre.title}}</h4>
                </div>
            </div>
            {% endfor %}
            {% for audio in genres%}
            <div class="row">
                <div class="col-md-6">
                    <img src="{{audio.image.url}}" alt="">
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-3"></div>
    </div>
</section>
{% endblock %}