{% extends 'audio/base.html' %}

{% block title %}
Вход
{% endblock %}

{% block content %}
{% if msg != null %}
    <div class="alert alert-danger">
        {{msg}}
    </div>
{% endif %}
<div class="container full-screen row justify-content-center align-items-center" style="height: 50px;">
    <form action="{% url 'login' %}" method="POST" class="form-control" style="text-align: center; font-size: 20px;">
        {% csrf_token %}
            <legend>Регистрация</legend>
            <label for="">Ваш никнейм</label>
            <input type="text" name="username" class="form-control">
            <label for="">Ваш пароль</label>
            <input type="password" name="password" class="form-control">
        <p class="text-center">
            <button class="btn btn-success">Войти</button>
        </p>
    </form>
</div>
{% endblock %}