{% extends 'audio/base.html' %}

{% block title %}
Профиль: {{user.username}}
{% endblock %}

{% block content %}
<div class="container">
    <form action="{% url 'user_edit' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-3">
                {% if user.profile.avatar.url != null %}
                <label for="image">
                    <img class="w-100" src="{{user.profile.avatar.url}}" alt="">
                </label>
                <input type="file" id="image" name="image" style="display: none">
                {% else %}
                <input type="file" id="image" name="image" class="form-control">
                {% endif %}
            </div>
            <div class="col-md-9">
                <p>
                    <label for="">Имя</label>
                    <input class="form-control" type="text" name="first_name" value="{{user.first_name}}">
                </p>
                <p>
                    <label for="">Фамилия</label>
                    <input class="form-control" type="text" name="last_name" value="{{user.last_name}}">
                </p>
                <p>
                    <label for="">Телефон</label>
                    <input class="form-control" type="text" name="phone" value="{{user..profile.phone}}">
                </p>
                <p class="text-right">
                    <button class="btn btn-warning">Изменить</button>
                </p>
            </div>
        </div>
    </form>
    <h2 class="text-center">История прослушивания</h2>
    <hr>
    <p class="text-right">
        <form action="{% url 'clear_history' %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-secondary">Очистить историю</button>
        </form>
    </p>
    <div class="row">
        {% for view in views %}
        <div class="col-md-3">
            <img src="{{view.album.image.url}}" alt="" class="w-100">
            <h3 class="text-center">{{views.album.title}}</h3>
            <a href="{{view.album.get_absolute_url}}" class="btn btn-warning">Подробнее >></a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}