{% extends 'audio/base.html' %}

{% block title %}
Ваши плейлисты
{% endblock %}

{% block content %}
{% csrf_token %}
{% for audio in playlists %}
            <div class="row">
                <div class="col-md-2">
                    <img src="{{audio.audio.image.url}}" alt="" class="w-100">
                </div>
                <div class="col-md-8">
                    <h2>{{audio.audio.title}}</h2>
                    <audio controls>
                        <source src="{{audio.audio.audio.url}}">
                    </audio>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-danger delete" data-url="{% url 'remove_playlist' audio.id %}">-</button>
                </div>
            </div>
            <hr>
{% endfor %}
{% endblock %}