{% extends 'audio/base.html' %}

{% block title %}
Регистрация
{% endblock %}

{% block content %}
<div class="container full-screen row justify-content-center align-items-center" style="height: 50px;">
        <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
            <legend>Регистрация</legend>
            <label for="">Ваш никнейм</label>
            <input type="text" name="username" class="form-control">
            <label for="">Электронная почта</label>
            <input type="text" name="e-mail" placeholder="example@example.com" class="form-control">
            <label for="">Пароль</label>
            <input type="password" name="password" class="form-control">
            <label for="">Подтверждение пароля</label>
            <input type="password" name="password" class="form-control">
        <button class="btn btn-primary">Регистрация</button>
    </form>
</div>
{% endblock %}