{% extends 'audio/base.html' %}

{% block title %}
{{album.title}}
{% endblock %}

{% block content %}
<div class="container-fluid p-4 hero-image">
    <div class="container">
        <h1 class="title text-black">{{album.title}}</h1>
        <p class="subtitle text-white">
            {% for genre in album.genres.all %}
            <a href="{{genre.get_absolute_url}}" class="text-white">{{genre.title}}</a>
            {% endfor %}
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <hr>
            <p>
                <img src="{{album.image.url}}" class="w-100" alt="">
            </p>
        </div>
        <div class="col-md-9">
            <hr>
            <i>{{album.date}}</i>
            <p>
                {{album.content|safe}}
            </p>
            {% for audio in album.audios.all %}
            <div class="row">
                <div class="col-md-2">
                    <img src="{{audio.image.url}}" alt="" class="w-100">
                </div>
                <div class="col-md-8">
                    <h2>{{audio.title}}</h2>
                    <audio controls>
                        <source src="{{audio.audio.url}}">
                    </audio>
                </div>
                <div class="col-md-2">
                {% if user.is_authenticated %}
                    <form action="{% url 'add_playlist' slug=album.slug id=audio.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-dark">+</button>
                    </form>
                {% else %}
                    <p><a href="{% url 'login' %}">Войдите</a> или <a href="{% url 'register' %}">Зарегистируйтесь</a>, чтобы продолжить</p>
                {% endif %}
                </div>
            </div>
            <hr>
            {% endfor %}
            <div class="bg-light">
                <div class="row justify-content-between align-items-center p-2">
                    <div class="col-md-2">
                        <p class="m-0">
                            <b>Просмотры: {{album.view_set.count}}</b>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p class="m-0">
                            <button class="btn btn-success">
                                Лайк 0
                            </button>
                            <button class="btn btn-danger">
                                Дизлайк 0
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            <h4>Комментариев: {{album.comment_set.count}}</h4>
            {% if user.is_authenticated %}
            <form action="{% url 'comment' album.slug %}" method="POST">
                {% csrf_token %}
                <textarea name="text" class="form-control" rows="10"></textarea>
                <button class="btn btn-danger">Отправить</button>
            </form>
            {% endif %}
            <hr>
            {% for comment in comments %}
            <div class="row mb-2 mt-1">
                <div class="col-md-2">
                    {% if comment.user.profile.avatar.url != null %}
                    <img src="{{comment.user.profile.avatar.url}}" class="w-100" alt="">
                    {% endif %}
                    <p class="text-center">{{comment.user.username}}</p>
                </div>
                <div class="col-md-8">
                    <h4>{{comment.user.first_name}} {{comment.user.last_name}}</h4>
                    <hr>
                    <p>{{comment.text}}</p>
                    <p class="text-right">{{comment.date}}</p>
                </div>
                <div class="col-md-2 row justify-content-center align-items-center">
                    {% if comment.user.id == user.id %}
                        <button type="button" data-url="{% url 'comment_delete' slug=album.slug id=comment.id %}" class="btn btn-danger delete">Удалить</button>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                {% if comments.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{comments.previous_page_number}}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                {% endif %}
                {% if comments.paginator.page_range > 1 %}
                  {% for page in comments.paginator.page_range %}
                  <li class="page-item">
                    {% if page == page.number or page == 1 %} style="background: black; color: yellow;"
                      <a class="page-link" href="?page={{page}}">{{page}}</a>
                    {% endif %} 
                    </li>
                  {% endfor %}
                {% endif %}
                {% if comments.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{comments.next_page_number}}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                {% endif %}
                </ul>
              </nav>
        </div>
    </div>
</div>
{% endblock %}