{% extends 'audio/base.html' %}

{% block title %}
Страница альбомов
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Альбомы</h1>
    </div>
  </div>
<section class="container">
    <div class="row">
        <div class="col-md-9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Альбомы</li>
                </ol>
            </nav>
            {% for album in albums %}
            <div class="row">
                <div class="col-md-6">
                    <img src="{{album.image.url}}" alt="" class="w-100">
                    <a href=""><h4 class="m-2">{{album.title}}</h4></a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-3"></div>
    </div>
</section>
{% endblock %}